:root {
    --color1: #1C2A33;
    --color2: #18CFAB;
    --color3: #E4B564;/*border color*/
    --color4: #635A4A;
    --color5: #B08C4D;
    --color6: #171717;
    --color7: #ffffff;
    --color8:#0E0E0E;
    --color9: #242424;
    --color10:#1F1F1F;
    --color11:#0A0909;
}

.wrapper-all {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.wrapper{
    background-image: url('../img/Sections background/Layer 1 5.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.menu-up {
    box-sizing: border-box;
    border: 1px ;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
.block{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    padding-top: 26px;
}
.Logo-click{
    display: flex;
    text-decoration: none;
position: relative;
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 6px;
}
.logo span{
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}
.H{
    font-style: normal;
    font-size: 40px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 18px;
    left: 13px;
}
.main-menu{
padding-top:47px;
    }
.item{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.link{
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.link:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 46px;
}
.img-color-out:hover{
    filter: brightness(0) saturate(100%) invert(58%) sepia(95%) saturate(365%) hue-rotate(118deg) brightness(94%) contrast(95%);
}
.position{
    padding-top: 264px;
}
.creative h2{
    font-style: normal;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 66px;
}
.creative h1{
    font-style: normal;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 66px;
}
.creative h3{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 37px;
    line-height: 1px;
}
.all-button{
    display: flex;
    justify-content: center;
    gap: 26px;
    padding-top: 134px;
    padding-bottom: 243px;
text-align: center;
    align-items: center;

}
.explore{
    border-radius: 4px;
    border: 1px solid #18CFAB;
    background:#18CFAB;
    padding: 21px;
    left: 0;
    top: 0;
    text-decoration: none;
    border-top: 5px solid white;
    color: white;
}
.purchase{
    border-radius: 4px;
    background:  #00CBF6;
    padding: 21px;
    left: 0;
    top: 0;
    text-decoration: none;
    border-top: 5px solid white;
    color: white;
}
/*header-menu*/

.one-color{
    background-color: var(--color1);
}
.two-color{
    background-color: var(--color2);
}
.box-menu {
    padding-top: 8px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
}
.box {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 100px ;
    padding-bottom: 100px;
    width: 100%;
}
.box-link{
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    align-items: flex-end;
    text-transform: uppercase;
    color: #18CFAB;
    text-decoration: none;
}
.box-link span{
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    align-items: flex-end;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.img-icon-hand{
    padding-bottom: 47px;
}
.img-icon-almaz{
    padding-bottom: 58px;
}
.img-icon-lamp{
    padding-bottom: 48px;
}
.img-icon-computer{
    padding-bottom: 70px;
}
/*box*/

.our-local{
    margin: 0 auto;
    text-align: center;
    padding-top: 83px;
}
.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    padding-bottom: 101px;
}
.text:before{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 63px;
    right: 47%;
    display: inline;
}
.text:after{
content: '';
    width: 75px;
    height: 1px;
background-color: #18CFAB;
position: absolute;
    top: 67px;
    left: 47%;
display: inline;
}
.tabs_nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.tabs-nav_item{
    text-decoration: none;
color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 15px 39px;
    left: 380px;
    top: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    text-align: center;

}
.tabs-nav_item:hover{
    padding: 15px 40px;
    border: 2px solid #18CFAB;
    box-sizing: border-box;
}
.tabs-nav_item.is-active{
    box-sizing: border-box;
    border: 2px solid #18CFAB;
    background: #18CFAB;
    color: white;
}
.tabs-nav_item.is-active::before{
    content: '';
    position: absolute;
    top: 70px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
.tabs-content{
    padding-top: 23px;
}
.tab.is-active{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.tab{
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size:14px;
    line-height: 24px;
    color: #777777;
}
/*Our services*/

.everything{
    background-image: url('../img/Sections background/Layer 21 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.every-text{
    margin-top: 91px;
}
.every-text h2{
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 127px;
    padding-bottom: 12px;
}
.every-text p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #D8D8D8;
}
.button-every{
    padding-top: 67px;
    padding-bottom: 127px;
}
.color-every{
    border-radius: 4px;
    border: 1px solid #18CFAB   ;
    background:#18CFAB;
    left: 0;
    top: 0;
    text-decoration: none ;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-size: 15px;
    line-height: 32px;
    padding: 20px;
    border-top: 5px solid white;
    color: white;
}
/*everything*/

.amazing-local{
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
    background: #E9EDEF;
}
.text-work{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    padding-bottom: 97px;
}
.text-work:before{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 63px;
    right: 47%;
    display: inline;
}
.text-work:after{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 67px;
    left: 47%;
    display: inline;
}
.list-work{
    display: flex;
    justify-content: space-between;
    max-width: 582px;
    margin: 0 auto;
}
.menu-amazing{
    text-decoration: none;
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 13px 17.9px;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
}
.portfolio{
    padding-top: 71px;
}
.portfolio-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.portfolio-list img {
    width: 100%;
    height: 100%;
    display: block;
}
.active{
    border: 1px solid #18CFAB;
}
.icon{
    position: relative;
}
.icon:hover .page-style{
    opacity: 1;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
}
.page-style {
    background: white;
    text-align: center;
    border-top: 2px solid #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    opacity: 0;
}
.page-style h3{
    padding-bottom: 34px;
}
.ball-all{
    display: flex;
    gap: 3px;
    padding-top: 40px;
    padding-bottom: 24px;
}

.ball-border{
    width: 41px;
    height: 40px;
    border-radius: 50%;
    background: #1FDAB5;
    border: 1px solid #1FDAB5;
    mix-blend-mode: normal;
    position: relative;
  }
.ball-green{
    width: 41px;
    height: 40px;
    border: 1px solid #1FDAB5;
    border-radius: 30px;
    mix-blend-mode: normal;

}
.hitch{
    filter: brightness(0) saturate(100%) invert(80%) sepia(52%) saturate(4290%) hue-rotate(117deg) brightness(97%) contrast(81%);
}
.ball-white{
    border:1px solid white;
    width: 12px;
    height: 11px;
    background: white;
   position: absolute;
    top: 13px;
    left: 13px;
}
.page-text{
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: #18CFAB;
    text-decoration: none;
}
.page-span{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    align-items: center;
    color: #8A8A8A;
    text-decoration: none;
}
.button-amazing{
    padding-top: 70px;
    padding-bottom: 99px;
}
.color-amazing{
    border-radius: 4px;
    border: 1px solid #18CFAB   ;
    background:#18CFAB;
    padding: 20px 20px 20px 50px;
    left: 0;
    top: 0;
    text-decoration: none ;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    display: inline;
}
.plus{
    position: absolute;
    top: 18px;
    left: 20px;
}
/*amazing*/

.break-new{
    padding-top: 82px;
}
.text-breaking {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    padding-bottom: 100px;
}
.text-breaking:before{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 63px;
    right: 47%;
    display: inline;
}
.text-breaking:after{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 67px;
    left: 47%;
    display: inline;
}
.consulting-images{
    padding-bottom: 128px;
}
.consulting-images img{
    height: 208px;
    width: 263px;
}
.consulting-images ul{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.flex-end{
    position: relative;
}
.href-break{
    text-decoration: none;
}
.href-break:hover .amaz{
    color: #18CFAB;
    margin-left: 20px;
}
.href-break:hover .text-icon{
    color: white;
    background: #18CFAB
}
.text-icon{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    position: absolute;
    background: #203E38;
    width: 70px;
    height: 68px;
   left: 73.4%;
}
.amaz{
    font-style: normal;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-left: 15px;
}
.admin span::before{
    content: '|';
   margin: 10px;
}
.admin {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-bottom: 45px;
    margin-left: 20px;
}
/*breaking new*/

.people{
    background-image: url('../img/Sections background/Layer 333.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.people-say{
    padding-top: 98px;
    position: relative;
}
.people-say h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 168px;
}
.people-say h2:before{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 63px;
    right: 47%;
    display: inline;
}
.people-say h2:after{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 67px;
    left: 47%;
    display: inline;
}
.text-say{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    position: relative;
}
.symbol{
     font-size: 80px;
     color: #18CFAB;
     position: absolute;
    top: 25%;
     left: 48.8%;
     display: inline;
 }
.text-people{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    padding-bottom: 38px;
}
.text-people span{
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.avatar-start{
    padding-top: 37px;
}
.avatar{
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border:10px solid  rgba(31,218,181  , 0.2);
}
.avatar-one{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border:5px solid  rgba(31,218,181, 0.2);
}

.logo-menu{
    padding-top: 57px;
    padding-bottom: 104px;
    display: flex;
    justify-content: center;
    max-width: 450px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }
.slider-big img{
    margin: 0 auto;
}
.slider img{
   margin: 0 auto;
}
.slider{
    position: relative;
}

.slick-arrow.slick-prev{
    left: 0;
}
.slick-arrow.slick-next {
    right: 0;
}

.slick-arrow{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 0;
}
.slick-prev::before{
    content: url('../img/left.png');
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    position: absolute;
    right: 28%;
    top: 32%;
}
.slick-prev:hover::before{
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #18CFAB;
    border: #18CFAB;
}

.slick-next::before{
    content: url('../img/right.png');
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    position: absolute;
}
.slick-next:hover::before{
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #18CFAB;
    border: #18CFAB;
}
/*people*/

.gallery{
    text-align: center;
    padding-top: 108px;
    padding-bottom: 110px;
    background: rgba(0, 0, 0, 0.0001);
}
.gallery h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #4E4E4E;
    position: relative;
    padding-bottom: 97px;
}
.gallery h3:before{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 63px;
    right: 47%;
    display: inline;
}
.gallery h3:after{
    content: '';
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    top: 67px;
    left: 47%;
    display: inline;
}

.sizer1{
    width: 100%;
}
.sizer2{
    width: 50%;
}
.sizer4{
    width: 25%;
}
.menu-average img{
    width: 100%;
    height: auto;
    display: block;
}
.menu-average{
    position: relative;
}
.cover-item a{
    display: block;
    width: 100%;
    height: 100%;
}
.cover-item a i.fa-solid{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}
.cover-item{
    background-color: black;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
}
.button-gallery{
padding-top: 52px;
}
.color-gallery{
    border-radius: 4px;
    border: 1px solid #18CFAB;
    background:#18CFAB;
    padding: 20px 20px 20px 50px;
    left: 0;
    top: 0;
    text-decoration: none ;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.plus-gallery{
    position: absolute;
    top: 18px;
    left: 20px;
}
/*gallery*/

.foot-site{
box-sizing: border-box;
border: 1px ;
height: 120px;
background: #22353F;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.foot-site p::before{
    content: "\24B8";
}
.foot-site p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.foot-site span{
    color: #18CFAB;
}
.foot-site span::after{
    content: "";
    color: #AEAEAE;
    border-left: 1px solid;
    margin-left: 5px;
}


